<div class="container mt-3">   
    <div *ngFor="let p of products">
        <div class="product-container"  [ngStyle]= "{color : p.available === 'Available' ? 'lightgreen' : 'lightpink'}">
            <div class="image-container">
                <img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px;">
            </div>
            <div class="name-container"><h6>{{p.name}}</h6></div>
            <div class="detailContainer">
                <div class="details" [ngStyle]= "{backgroundColor: p.available === 'Available' ? 'green' : 'red'}">{{p.available}}</div>
                <div class="details"><b>Price:</b>${{p.price}}</div>
                <div class="details"><b>Color:</b>{{p.color}}</div>
                <!-- <div class="options"> -->
                    <button class="btn btn-success">Show Details</button>
                    <button class="btn btn-warning" *ngIf=" p.available === 'Available' ;  else notifyme">Buy Now</button>
                    
            <ng-template #notifyme>
                <button class="btn btn-danger">Notify Me</button>
            </ng-template>
                <!-- </div> -->
            </div>
        </div>
        <!-- <div class="options">
            <button class="btn btn-success">Show Details</button>
            <button class="btn btn-warning">Buy Now</button>
        </div> -->
    </div>
    
</div>